* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    background: #efefef;
    min-height: 100vh;
}

header {
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    backdrop-filter: blur(15px);
    position: fixed;
    background: #000;
    z-index: 400;
    top: 0;
    left: 0;
    right: 0;
}

.navbar .logo {
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.navbar .logo p {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}
.navbar .logo p small {
    color: #ccc;
}
.navbar .logo a img{
    width: 60px;
    margin-right: 10px;
    border-radius: 10px;
}
.navbar .logo small {
    display: block;
}


.navbar .middle-nav ul{
    display: flex;
    max-width: fit-content;
}

.middle-nav ul li {
    list-style: none;
    font-size: 20px;
    margin-right: 30px;
    font-weight: 500;
    transition: all .3s;
}

.middle-nav ul li:hover {
    transform: translateY(-5px);
    background: #a99a95;
    color: #fff;
    padding: 4px;
    border-radius: 5px;
}

.action-btn {
    font-size: 20px;
    font-weight: 500;
    background: #008080;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
    transition: all .3s;
}

.action-btn:hover {
    transform: scale(1.1);
    border: 1px solid #008080;
}


.menu-btn {
    width: 40px;
    padding: 5px;
    border-radius: 5px;
    background: #ccc;
    cursor: pointer;
    display: none;
}

.drop-down-menu {
    position: fixed;
    top: 7%;
    right: 5%;
    border-radius: 10px;
    background: #453434;
    overflow: hidden;
    font-weight: 500;
    transition: max-height .3s;
    max-height: 0;
    z-index: 300;

}

.drop-down-menu ul {
    max-width: 400px;
    padding: 30px;
}

.show-menu {
    max-height: 450px;
}


.drop-down-menu ul li{
    list-style: none;
    margin: 10px;

}

.header-more-info {
    position: absolute;
    text-align: center;
    color: #fff;
    top: 45%;
    left: 30%;
    right: 30%;
}

.post {
    margin: 50px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.post img {
    margin-top: 10px;
    width: 100%;
    height: 500px;
}


.post .content h1 {
    font-size: 50px;
    margin: 20px 0px;
}

.post .content h2 {
    font-size: 30px;
    margin: 20px 0px;
}

.post .content {
    width: 60%;
    margin: 20px;
}


.visit-btn {
    font-size: 15px;
    font-weight: 500;
    background: #008080;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: max-content;
    transition: all .3s;
    margin-top: 30px;
}

.visit-btn:hover {
    transform: translateY(-3px);
}



footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    margin-top: 10%;
    background: black;
    height: 50vh;
    width: 100%;
    padding: 5% 10%;
    opacity: 0.95;
    position: relative;
}

.foot {
    color: white;
}

.foot h3 {
    margin: 10px;
    font-weight: 600;
}

.foot p {
    color: #ccc;
}

.foot ul li {
    list-style: circle;
    margin: 10px;
}

.foot ul li a {
    color: #008080;
}

.foot-l ul li a{
    color: #ccc;
}


.copyright {
    position: absolute;
    bottom: 2px;
    color: #ccc;
    left: 45%;
    font-size: 12px;
    font-weight: 500;
}



@media (max-width: 900px) {
    .navbar .middle-nav ul{
        display: none;
    }

    .navbar .logo a img{
        width: 40px;
    }

    .navbar .logo p {
        font-size: 11px;
    }

    .action-btn {
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .header-more-info {
        top: 45%;
        left: 20%;
        right: 20%;
        
    }
    .header-more-info .p-first {
        font-size: 10px;
        color: #008080;
        font-weight: 600;
    }
    
    .header-more-info .p-second {
        font-size: 30px;
        font-weight: 700;
        color: #fff;
    }
    
    .header-more-info .p-third {
        color: white;
    }

    .event-container {
        display: block;
        padding: 0 3%;
    }

    .event {
        width: 100%;
        margin-top: 20px;
    }

    .about-inner {
        display: block;
        padding-bottom: 10px;
        margin-left: 3%;
        margin-right: 3%;
    }
    
    .about-inner img {
        width: 100%;
    }

    .about-inner div {
        margin: 10px 20px;
    }

    .about-inner div .learn-more {
        margin-top: 30px;
    }

    .about-inner div .learn-more a{
        position: unset;
        margin-bottom: 10px;
        font-size: 10px;
        margin-left: 27%;
        margin-top: 50px;
    }

    .prayer-container .prayer-btn {
        top: 70%;
        left: 22%;
    }

    /*================ BLOG ==============*/

    .post {
        margin: auto;
        margin-top: 40px;
        padding: 30px;
    }

    .post .content img {
        width: 100%;
        height: 20%;
        margin: auto;
    }

    .post .content {
    width: 100%;
    margin: 10px;
    }

    /* ============ EXCOS ============ */
    .excos-div {
        margin: 10% 2%;
    }

    .exco {
        width: 100%;
        height: 100%;
        padding-bottom: 10px;
        margin: 0;
    }

    .exco img {
        width: 100px;
        height: 100px;
    }
    .exco h3 {
        font-size: 20px;
    }
    .exco h4 {
        font-size: 15px;
    }
    .excos-div .next, .excos-div .prev {
        width: 30px;
        padding-bottom: 17%;
    }
    .excos-div .next {
        right: 0;
    }
    .excos-div .prev {
        left: 0;
    }
    .excos-count {
        left: 8%;
    }

    /*============= DONATE ================*/
    .donate-container {
        height: 45vh;
    }

    .prayer-container-inner .p-first, .donate-container-inner .p-first {
        font-size: 25px;
    }

    .donate-container-inner {
        position: absolute;
        top: 25%;
        left: 10%;
        bottom: 10%;
        right: 10%;
    }

    .donate-container-inner a {
        margin-left: -10%;
        font-size: 15px;
    }
    .foot p {
        font-size: 12px;
        text-align: center;
    }

    .foot ul li {
        list-style: none;
        font-size: 12px;
    }

    .copyright {
        left: 38%;
    }

}
